<div class="game-board">
  <div class="left">
    <div class="question">
      <span class="question__text">{{ currentQuestion$ | async }}</span>
    </div>

    <div class="game-level">
      <h4 class="game-level__title">Cложность игры</h4>
      <ul class="game-level__items">
        <li *ngFor="let level of levels">
          <label>{{level.label}}</label>
          <input
            type="radio"
            name="gamemode"
            [value]="level.mode"
            [(ngModel)]="mode"
            (change)="onRestart()"
          />
        </li>
      </ul>
    </div>
  </div>

  <div class="right">
    <div class="restart">
      <button (click)="onRestart()">Начать заново</button>
    </div>

    <ng-container *ngIf="answerBoard$ | async as board">
      <div
        class="answer-table"
        [ngStyle]="{
          'background-image': 'url(assets/images/' + board.image + '.jpg)',
          'grid-template-rows':
            'repeat(' + board.table.length + ', minmax(0, 1fr))'
        }"
      >
        <div
          class="answer-table__row"
          *ngFor="let row of board.table"
          [ngStyle]="{
            'grid-template-columns': 'repeat(' + row.length + ', minmax(0, 1fr))'
          }"
        >
          <div
            class="answer-table__cell"
            *ngFor="let cell of row"
            (click)="onCellClick(cell, $event.target)"
          >
            {{ cell.product }}
          </div>
        </div>
      </div>
    </ng-container>
  </div>

</div>

<div class="popup" #resultPopup>
  <div class="popup__modal" *ngIf="resultModel">
    <span class="popup__close" (click)="onPopupClose()">&#x2716;</span>
    <div class="popup__title">
      <h4>{{ resultModel.title }}</h4>
      <span class="popup__smile" [innerHTML]="resultModel.emoji"></span>
    </div>
    <div class="popup__percent">
      <p>
        Результат: <b>{{ resultModel.percentage }}%</b>
      </p>
    </div>
    <div class="popup__answers">
      <span *ngIf="resultModel.incorrectAnswers > 0"
        >Неправильных ответов: <b>{{ resultModel.incorrectAnswers }}</b></span
      >
    </div>
    <div class="popup__restart">
      <span class="popup__btn" (click)="onPopupClose(true)"
        >Попробовать еще</span
      >
    </div>
  </div>
</div>

<div class="popup" #startPopup>
  <div class="popup__modal popup__modal--start">
    <span class="popup__close popup__close--start">&#9995;</span>
    <div class="popup__title popup__title--start">
      <h4 >Здравствуй, юный друг!</h4>
    </div>
    <div>
      <p class="popup__description">
        Мы приглашаем тебя поиграть в игру «Таблица умножения»!<br /><br />
        Виртуальный преподаватель будет спрашивать у тебя, чему равно произведение
        чисел, изображенных на доске. В это время, ты должен нажать на верное
        число в таблице справа. Если ответ будет верным, то ты увидишь небольшой
        фрагмент картинки из мультфильма. Ответь верно на все вопросы
        преподавателя и полностью открой картинку из мультфильма. Желаем удачи!
      </p>
    </div>
    <div class="popup__restart">
      <span class="popup__motivator">&#9757;</span>
      <span class="popup__btn" (click)="onPopupClose()">Начать игру</span>
    </div>
  </div>
</div>
