$colors: (
  "restart-button": #c73a1c,
  "popup-button": #d7ca0d,
  "cell": #f0f8ff,
);

@mixin button($color) {
  background-color: $color;

  &:hover {
    background-color: lighten($color, 10%);
  }
}

@mixin background-cover {
  background-repeat: no-repeat;
  background-size: cover;
}

.question {
  text-align: center;

  &__text {
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
  }
}

.restart {
  display: flex;
  width: 100%;
  justify-content: flex-end;

  button {
    color: #fff;
    font-size: 0.9rem;
    text-align: center;
    padding: 1rem;
    @include button(map-get($colors, "restart-button"));
  }
}

.game-level {
  &__items {
    margin-left: 2.25rem;

    li {
      color: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;

      input {
        cursor: pointer;
      }
    }
  }
}

.answer-table {
  display: grid;
  width: 100%;
  height: 23.5rem;
  margin: 3.25rem 0 0 0.25rem;
  @include background-cover;

  &__row {
    display: grid;
  }

  &__cell {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.125rem;
    box-shadow: 0 0 3px 3px #616061;
    @include button(map-get($colors, "cell"));

    &.invisible {
      visibility: hidden;
    }
  }
}

.game-board {
  display: flex;
  width: 1200px;
  height: 624px;
  margin: 0 auto;
  background-image: url("assets/images/game-bg.jpg");
  @include background-cover;

  & > div {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }

  .left {
    width: 45%;
    margin-right: 3.7rem;
    padding: 14rem 0 2rem 0;
  }

  .right {
    width: 47%;
    padding-top: 4rem;
  }
}

.popup {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(#000, 0.9);

  &.open {
    display: flex;
  }

  &__modal {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 100;
    width: 36rem;
    height: 25rem;
    color: #fff;
    background-image: url("assets/images/result-board.png");
    @include background-cover;

    & > div {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 3rem;
    }

    &--start {
      width: 37.5rem;
      height: 26rem;

      .popup__title, .popup__restart {
        margin-bottom: 0;
      }
    }
  }

  &__title {
    margin-top: 4rem;

    h4 {
      font-size: 2.25rem;
    }

    &--start {
      h4 {
        font-size: 2rem;
        margin-bottom: 1.25rem;
      }
    }
  }

  &__close {
    position: absolute;
    top: 1.6rem;
    right: 3.75rem;
    color: map-get($colors, "restart-button");
    font-size: 1.6rem;
    cursor: pointer;

    &:hover {
      color: lighten(map-get($colors, "restart-button"), 10%);
    }

    &--start {
      cursor: default;
    }
  }

  &__smile {
    margin-left: 2rem;
    font-size: 3rem;
  }

  &__percent {
    font-size: 1.75rem;

    b {
      color: darken(map-get($colors, "popup-button"), 5%);
    }
  }

  &__answers {
    justify-content: flex-start !important;
    margin-left: 4rem;

    span {
      display: block;
      font-size: 1.4rem;

      b {
        font-size: 1.6rem;
      }
    }
  }

  &__restart {
    position: relative;
    justify-content: flex-end !important;
    margin-right: 4rem;
  }

  &__btn {
    cursor: pointer;
    color: map-get($colors, "popup-button");
    font-size: 1.25rem;

    &:hover {
      text-decoration: underline;
    }
  }

  &__motivator {
    position: absolute;
    top: -1.25rem;
    right: 3rem;
    font-size: 1.25rem;
    transform: rotate(-130deg);
  }

  &__description {
    margin: 0 auto;
    width: 85%;
  }
}
